{% extends "admin/admin.html.twig" %} 

{% block title %}New Offer{% endblock %}

{% block body %}
    <h1>Créer une nouvelle offre</h1>

    {{ include('admin/offer/_form.html.twig') }}

    <a href="{{ path('offer_index_admin') }}">retour à la liste</a>
{% endblock %}
