{% extends "admin/admin.html.twig" %} 

{% block title %}Offre{% endblock %}

{% block body %}
    <h1>Créé une nouvelle offre</h1>

    {{ include('admin/offer/_form.html.twig') }}

    <a href="{{ path('offer_index_admin') }}">Retour à la liste</a>
{% endblock %}
