{% extends "client/client.html.twig" %} 

{% block title %}New Offer{% endblock %}

{% block body %}
    <main class="form">
        <div class="mainContent">

            <h1>Créer une nouvelle offre</h1>

            {{ include('client/offer/_form.html.twig') }}

            <a href="{{ path('offer_index_client') }}">&lt;&lt; Retour à la liste</a>
        </div>
    </main>
{% endblock %}
