* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer_container {
    display: flex;
    width: 100%;
    height: 12vh;
    line-height: 12vh;
    text-align: center;
    background-color: rgb(109, 109, 235);
    justify-content: space-between;
    position:absolute;
    bottom: 0;
}

.footer_container li {
    list-style-type: none;
}

.footer_container p {
    margin-left: 40px;
    color: white;
}

.footer_container a {
    margin-right: 40px;
}