* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_nav-bar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}

.header_container {
    display: flex;
    background-color: white;
    padding: 10px;
}

.header_container ul {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin: 0 auto;
}

.header_container a {
    text-decoration: none;
    color: black;
}

.header_container a:hover {
    color: rgb(109, 109, 235);
}

.header_container li {
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
}

.header_container span {
    display: flex;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
}

.header_btn-connexion {
    display: flex;
    background-color: rgb(109, 109, 235);
    border: none;
    padding: 20px;
    border-radius: 100px;
    margin-right: 20px;
    margin-top: 10px;

}

.header_btn-connexion a {
    color: white;
}

.header_btn-connexion a:hover {
    color: slategrey;
}