header {
    display: flex;
    background-color: var(--blue-primary-color);
    padding: 4%;
    position: sticky;
    justify-content: space-between;
    top: 0;
}

header div.logo {
    display: flex;
    align-items: center;
    gap: 10%
}

header p {
    font-size: var(--h3-size);
}

nav {
    display: none; 
    align-items: center;

}

header ul {
    display: flex;
    flex-direction: row;
    gap: 4em;
    margin: 0 auto;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color: var(--white-primary-color);
}

header li {
    list-style-type: none;
    font-size: var(--h3-size);
}

header div.account-buttons{
    display: none;
    align-items: center;
    gap: 1em;
}


header div.account-buttons a{
    padding: 10px;
    border-radius: 10%;
    background-color: var(--blue-secondary-color);
    border: none;

}

header div.account-buttons a:hover {
    background-color: slategrey;
}

@media screen and (min-width: 1024px) 
{
    header {
        padding: 2%;
    }

    nav {
        display: flex;
    }

    header div.account-buttons{
        display: flex;
    }
}
