/* Style section des filtres */
main .main-offers{
    background-color: var(--white-primary-color);
    padding: 6% 8%;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}
.wrap-all{
    /* border: 3px solid white; */
    /* margin: 0 auto;  */
    display: flex;
}
.search{
    border: 1px solid blue;
    background-color: #aabbca;
    width: 40%;
    height: 80vh;
    margin: 20px;
    padding: 0px;
    border-radius: 3px;
    
}

/* label.txt{
    padding: 10px 5px;
    margin: 40px;
} */

.filtre{
    display: flex;
    justify-content: center;
    width: 100%;
}
#filtre ul{
    background-color: whitesmoke;
    border-radius: 3px;
    align-items: center;
}
ul#filtre{
    
}
#filtre ul{
    display: flex;
    justify-content: center;
    padding: 5px;
}
#filtre li{
    border: 3px solid lightgrey;
    background-color: whitesmoke;
    gap: 10%;
}

.offre{
    border: 2px solid black;
    width: 60%;
    display: flex;
    justify-content: space-between;
    background-color: #aabbca;
    border-radius: 3px;
    margin: 20px;
}
.txt{
    font-size: 16px;
    color: black;
    text-decoration: none;
}

/* Section listing des offres */
/* .jobs-list{
    width: 30%;
    height: 30%;
    border: 1px solid green;
} */

/* Style de la Pagination */


.pagination{
    width: 50px;
    height: auto;
    border: 1px solid red;
}
div.jobs-pagination-wrapper{
    display:block;
}
div.jobs-pagination-wrapper>ul{
    overflow-wrap: break-word;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.pagination{
    width: auto;
    margin: 0;
    padding: 10px;
    text-align: center;
    align-items: center;
}
.pagination{
    display: inline-block;
}
ul{
    list-style-type: disc;
}
ul{
    overflow-wrap: break-word;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* padding-inline-start: 40px; */
}
ul.pagination{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
}
li{
    list-style: none;
}
.pagination li > a:hover{
    background-color: #ffffff;
    background: #478AC9;
    cursor: pointer;
}
.pagination>li>a:hover{
    border-color: #ddd;
}
.pagination>li:first-child>a{
    margin-left: 0;
}
.pagination li > a{
    border: 0;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    display: inline-block;
    float: none;
    transition: all 0.3s ease-in-out 0s;
    color: #696969;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}
.pagination>li>a
{
    position: relative;
    text-decoration: none;
}
a:-webkit-any-link{
    cursor:pointer;
}
a.prev.page-number{
    background: #ffffff;
    padding: 0px 5px;
}

@media screen and (min-width: 768px){
    .pagination li >span,
     .pagination li > a
     {
        margin: 0px 3px;
        padding: 0px 10px;
        min-width: 44px;
        line-height: 44px;
    }
}