 {% extends "admin/admin.html.twig" %} 

 {% block title %} Edit catégorie {% endblock %}

{% block body %}
    <h1>Edit categories</h1>

    {{ include('/admin/category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('category_index_admin') }}">retour à la liste</a>

    {{ include('/admin/category/_delete_form.html.twig') }}
{% endblock %}
