 {% extends "admin/admin.html.twig" %} 

{% block title %}Catégorie{% endblock %}

{% block body %}
    <h1>Créé une nouvelle catégorie</h1>

    {{ include('/admin/category/_form.html.twig') }}

    <a href="{{ path('category_index_admin') }}">Retour à la liste</a>
{% endblock %}
