{% extends 'admin/admin.html.twig' %}

{% block title %}2dit département{% endblock %}

{% block body %}
    <h1>Edit département</h1>

    {{ include('admin/department/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('department_index_admin') }}">retour à la liste</a>

    {{ include('admin/department/_delete_form.html.twig') }}
{% endblock %}
