{% extends 'admin/admin.html.twig' %}

{% block title %}New Department{% endblock %}

{% block body %}
    <h1>Créer un nouveau département</h1>

    {{ include('admin/department/_form.html.twig') }}

    <a href="{{ path('department_index_admin') }}">retour à la liste</a>
{% endblock %}
