{% extends 'admin/admin.html.twig' %}

{% block title %}Département{% endblock %}

{% block body %}
    <h1>Créé un nouveau département</h1>

    {{ include('admin/department/_form.html.twig') }}

    <a href="{{ path('department_index_admin') }}">Retour à la liste</a>
{% endblock %}
