{% extends "admin/admin.html.twig" %} 

{% block title %}New Skill {% endblock %}

{% block body %}
    <h1>Créer une nouvelle comprétence</h1>

    {{ include('/admin/skill/_form.html.twig') }}

    <a href="{{ path('skill_index_admin') }}">retour à la liste</a>
{% endblock %}