{% extends "admin/admin.html.twig" %}
{% block title %}Edit OffersSkillsAssoc{% endblock %}

{% block body %}
    <h1>Edit OffersSkillsAssoc</h1>

    {{ include('admin/offers_skills_assoc/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('offers_skills_assoc_index_admin') }}">back to list</a>

    {{ include('admin/offers_skills_assoc/_delete_form.html.twig') }}
{% endblock %}
