{% extends "admin/admin.html.twig" %}
{% block title %}New OffersSkillsAssoc{% endblock %}

{% block body %}
    <h1>Create new OffersSkillsAssoc</h1>

    {{ include('admin/offers_skills_assoc/_form.html.twig') }}

    <a href="{{ path('offers_skills_assoc_index_admin') }}">back to list</a>
{% endblock %}
